<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://Java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project-01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.web.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
	<url-pattern>/employees/update</url-pattern>
    <url-pattern>/employees/*</url-pattern>
    <url-pattern>/reimbursements/*</url-pattern>
    <url-pattern>/employees</url-pattern>
    <url-pattern>/reimbursements</url-pattern>
    <url-pattern>/emp-login</url-pattern>
    <url-pattern>/manager-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginEmployees</display-name>
    <servlet-name>LoginEmployees</servlet-name>
    <servlet-class>com.revature.web.LoginEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginEmployees</servlet-name>
    <url-pattern>/LoginEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginManagers</display-name>
    <servlet-name>LoginManagers</servlet-name>
    <servlet-class>com.revature.web.LoginManagers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginManagers</servlet-name>
    <url-pattern>/LoginManagers</url-pattern>
  </servlet-mapping>
</web-app>